@model IReadOnlyCollection<DaemonVm>

<table class="table table-striped table-borderless">
    <thead>
        <tr class="table-primary">
            <th style="width: 1%;"></th>
            <th style="width: 1%;"></th>
            <th>Name</th>
            <th>Service Name</th>
            <th style="width: 1%;"></th>
        </tr>
    </thead>
    <tbody>

        @{ var id = 0;}
        @foreach (var item in Model)
        {
            var checkedDisplay = item.Checked ? null : "display:none;";
            var uncheckedDisplay = (item.Checked ? "display:none;" : null) + " opacity: 0.3";
            var descriptionId = "description-" + id;

            <tr>
                <td style="vertical-align: middle">
                    <i class="fas fa-cogs text-primary" title="@item.Dto.ServiceType"></i>
                </td>
                <td style="vertical-align: middle">
                    <partial name="_ServiceStatePartial" model="@item.Dto.State" />
                </td>
                <td style="vertical-align: middle">
                    <a data-toggle="collapse" href="#@descriptionId" role="button" aria-expanded="false" aria-controls="@descriptionId">@item.Dto.DisplayName</a>
                    <div class="collapse pl-3 pr-3" id="@descriptionId">
                        @item.Dto.Description
                    </div>
                </td>
                <td style="vertical-align: middle">
                    @item.Dto.ServiceName
                </td>
                <td>
                    <button id="remove-@item.Dto.ServiceName"
                            class="btn btn-sm btn-primary"
                            style="@checkedDisplay;"
                            onclick="overview.toggle('@item.Dto.ServiceName');">
                        <i class="fas fa-check fa-fw"></i>
                    </button>
                    <button id="add-@item.Dto.ServiceName"
                            class="btn btn-sm btn-primary"
                            style="@uncheckedDisplay;"
                            onclick="overview.toggle('@item.Dto.ServiceName');">
                        <i class="fas fa-fw"></i>
                    </button>
                </td>

            </tr>

            id++;
        }
    </tbody>
</table>