@model IReadOnlyCollection<DaemonHostViewModel>
@{
    ViewData["Title"] = "View running daemons";
}

<br/>

@if (Model != null)
{
    foreach (var daemonHost in Model)
    {
        <div class="row">
            <h3 class="text-dark">@daemonHost.DaemonHost.Name</h3>
        </div>

        if (daemonHost.Error != null)
        {
            <div class="alert alert-danger" role="alert">
                <span class="text-danger">@daemonHost.Error</span>
            </div>
        }

        if (daemonHost.Daemons != null)
        {
            <table class="table table-striped table-borderless table-sm">
                <thead>
                <tr class="table-primary">
                    <th style="width: 1%;"></th>
                    <th style="width: 1%;"></th>
                    <th style="width: 1%;"></th>
                    <th>Name</th>
                    <th>Daemon Name</th>
                    <th style="width: 1%;"></th>
                </tr>
                </thead>
                <tbody>

                @foreach (var daemon in daemonHost.Daemons)
                {
                    var daemonId = $"{daemon.HostId}-{daemon.DaemonType}-{daemon.DaemonName}";
                    var color = "btn-danger";
                    var sign = "fa-stop";
                    var nextAction = "stop";
                    if (daemon.State == "Stopped")
                    {
                        color = "btn-success";
                        sign = "fa-play";
                        nextAction = "start";
                    }

                    <tr>
                        <td>
                            <i class="fas fa-cogs text-primary lead" title="@daemon.DaemonType"></i>
                        </td>
                        <td>
                            <partial name="_DaemonStatePartial" model="@daemon"/>
                        </td>
                        <td>
                            <div class="btn-group-xs">
                                <button id="start_stop-@daemonId" class="btn btn-sm @color" name="start-stop-btn" daemon-id="@daemonId" next-action="@nextAction">
                                    <i class="fas @sign"></i>
                                </button>
                            </div>
                        </td>
                        <td>
                            <span title="">@daemon.DisplayName</span>
                        </td>
                        <td>
                            @daemon.DaemonName
                        </td>
                        <td></td>
                    </tr>
                }

                </tbody>
            </table>
        }
    }
}

@section Scripts
{
    <partial name="_ChangeStateHandlerScriptsPartial"/>

    <script src="js/StartStopHandler.js"></script>
    <script language="javascript">
        var startStop = new StartStopHandler();
        startStop.initialize();
    </script>
}

