@model IReadOnlyCollection<Lightbringer.Web.Store.ViewModels.DaemonVm>

<table class="table table-striped table-borderless table-sm">
    <thead>
        <tr class="table-primary">
            <th style="width: 1%;"></th>
            <th style="width: 1%;"></th>
            <th>Name</th>
            <th>Service Name</th>
            <th style="width: 1%;"></th>
        </tr>
    </thead>
    <tbody>

        @{ var id = 0;}
        @foreach (var item in Model)
        {
            var descriptionId = "toggle-" + id;
            var display = item.Checked ? null : "opacity: 0.3";
            var check = item.Checked ? "fa-check" : null;

            <tr>
                <td>
                    <i class="fas fa-cogs text-primary" title="@item.ServiceType"></i>
                </td>
                <td>
                    <partial name="_ServiceStatePartial" model="@item.State" />
                </td>
                <td>
                    <a data-toggle="collapse" href="#@descriptionId" role="button" aria-expanded="false" aria-controls="@descriptionId">@item.DisplayName</a>
                    <div class="collapse pl-3 pr-3" id="@descriptionId">
                        @item.Description
                    </div>
                </td>
                <td>
                    @item.ServiceName
                </td>
                <td>
                    <button class="btn btn-sm btn-primary"
                            style="@display;"
                            onclick="overview.toggle(event, '@item.ServiceName');">
                        <i class="fas @check fa-fw"></i>
                    </button>   
                </td>

            </tr>

            id++;
        }
    </tbody>
</table>