@model IReadOnlyCollection<Lightbringer.Web.Store.ViewModels.DaemonVm>

<div class="row">

    @{ var id = 1;}
    @foreach (var item in Model)
    {
        var descriptionId = "toggle-" + id;
        var display = item.Checked ? null : "opacity: 0.3";
        var check = item.Checked ? "fa-check" : null;

        <div class="col-3 mb-4" style="min-width: 15rem;">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-6 lead">
                            <i class="fas fa-cogs text-primary" title="@item.DaemonType"></i>
                            <partial name="_DaemonStatePartial" model="@item"/>
                        </div>
                        <div class="col-sm-6 text-right">
                            <button class="btn btn-sm btn-primary"
                                    style="@display;"
                                    onclick="overview.toggle(event, '@item.DaemonName');">
                                <i class="fas @check fa-fw"></i>
                            </button>                           
                        </div>
                    </div>
                </div>
                <div class="card-body" title="@item.DaemonName">
                    <a data-toggle="collapse" href="#@descriptionId" role="button" aria-expanded="false" aria-controls="@descriptionId">@item.DisplayName</a>
                    <div class="collapse" id="@descriptionId">
                        @item.Description
                    </div>
                </div>
            </div>
        </div>

        id++;
    }
</div>