@model AddDaemonHostViewModel
@{
    ViewData["Title"] = "Add Daemon Url";
}

<br />
@if (Model.Error != null)
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <i class="fas fa-times"></i>
        </button>
        <span class="text-danger">@Model.Error</span>
    </div>
}

<div class="row">
    <div class="col-4">
        <h2>Add Daemon Url</h2>
    </div>
    <div class="col-8">
        <form method="post" asp-action="AddDaemonHostUrl">

            <div class="input-group mb-3">
                <input asp-for="DaemonHostUrl" placeholder="host name or complete url" class="form-control" />
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>

@if (Model.Hosts != null)
{
    <div class="row">
        @foreach (var item in Model.Hosts)
        {
            <div class="col-4 mb-4">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h3 class="text-secondary">@item.Name <span class="badge badge-secondary badge-pill">@(item.SubscribedDaemons?.Count ?? 0)</span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div>@item.Url</div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col text-right">
                                <div class="btn-group">
                                    <a asp-action="ListDaemons" asp-route-hostId="@item.Id" class="btn btn-success" title="Select Daemons"><i class="fas fa-list-ul"></i></a>
                                    <a href="#" class="btn btn-primary" title="Edit"><i class="fas fa-edit"></i></a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" title="Delete"><i class="fas fa-trash"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}